// Restated Bootstrap Variables
$white: #fff !default;
$black: #000 !default;
$gray-200: #55507C !default;
$gray-400: #35305E !default;
$gray-900: #191445 !default;
$primary: #B3A369 !default;
$primary_dark: #645211 !default;
$secondary: #55507C !default;
$secondary_dark: #191445 !default;
$bg_light: unquote('#b9b7c726') !default;
