<!-- Post Listing -->
<section id="blog">
    <div class="container">
        <div class="row text-justify">
            <div class="col-lg-8 offset-lg-2">
                <div id="ButtonBarDivUnit" class="ButtonBarDiv">
                    <div>
                        <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fwww.primordialanalytics.com%2Fblog%2Fatom.xml'
                           target='blank'><img id='feedlyFollow'
                                               src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-medium_2x.png'
                                               alt='follow us in feedly' width='71' height='28'></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Posts -->
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% for post in site.posts %}
                <div class="post">
                    <div class="post-left">
                        <div class="post-date">
                            {{ post.date | date: "%b %d" }}
                            <span>{{ post.date | date: "%Y" }}</span>
                        </div>
                    </div>
                    <div class="post-right">
                        <h2 id="post-title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </h2>
                        <h5 id="post-description">
                            {{ post.description }}
                        </h5>
                        <div class="snippet">
                            <div class="post-overview-left">
                            </div>
                            <div class="post-overview-right">
                                <p>
                                    {{ post.content | strip_html | truncatewords: 50 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="{{ post.url }}" style="float:right;">Continue Reading &raquo;</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
