<!-- Clients -->
<!--
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Clients</h2>
                <h3 class="section-subheading text-muted">Would you like to join our list of clients?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="https://autonomouslogistics.co/" target="_blank">
                    <img class="img-fluid d-block mx-auto" src="img/clients/alc.png" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://www.bruiser-ventures.com/" target="_blank">
                    <img class="img-fluid d-block mx-auto" src="img/clients/bv.png" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://www.imhumanfirst.com/" target="_blank">
                    <img class="img-fluid d-block mx-auto" src="img/clients/ihf.png" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="https://www.meetup.com/knoxdata/" target="_blank">
                    <img class="img-fluid d-block mx-auto" src="img/clients/kd.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
-->