<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 7 ]><html lang="en-US" class="no-js ie ie6 lte7 lte8 lte9"><![endif]-->
<!--[if IE 7 ]><html lang="en-US" class="no-js ie ie7 lte7 lte8 lte9"><![endif]-->
<!--[if IE 8 ]><html lang="en-US" class="no-js ie ie8 lte8 lte9"><![endif]-->
<!--[if IE 9 ]><html lang="en-US" class="no-js ie ie9 lte9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-US" class="no-js"><!--<![endif]-->

<head>

    <!-- metadata -->
    <meta charset="utf-8">

    <!-- gopt hiding snippet -->
    <!--<style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-MDCWFS9':true});
    </script>-->

    <!-- remaining metadata -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="primordialanalytics.com"/>
    <meta name="msvalidate.01" content="00DBE51A1837EA51E1489980A8A632EF"/>

    <!-- site info -->
    <title>Primordial Analytics Consulting</title>
    <meta name="description" content="Primordial Analytics Consulting is an AI-focused analytics firm.">
    <meta name="author" content="Primordial Analytics Consulting, LLC.">
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Home &raquo; Primordial Analytics &raquo; Create something"/>
    <meta property="og:description" content="Primordial Analytics Consulting is an AI-focused analytics firm.">
    <meta property="og:url" content="https://www.primordialanalytics.com/"/>
    <meta property="og:site_name" content="primordialanalytics.com"/>
    <meta property="og:image" content="https://www.primordialanalytics.com/img/brand/brand_white.png"/>
    <meta property="og:image:secure_url" content="https://www.primordialanalytics.com/img/brand/brand_white.png"/>
    <meta property="og:image:width" content="1008"/>
    <meta property="og:image:height" content="144"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="Primordial Analytics Consulting is an AI-focused analytics firm.">
    <meta name="twitter:title" content="Home &raquo; Primordial Analytics &raquo; Create something"/>
    <meta name="twitter:site" content="@primordialytics"/>
    <meta name="twitter:image" content="https://www.primordialanalytics.com/img/logos/logo_black.png"/>
    <meta name="twitter:creator" content="@primordialanalytics"/>

    <!-- site functionality -->
    <link rel="canonical" href="https://primordialanalytics.com">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="https://www.primordialanalytics.com/xmlrpc.php">

    <!-- stylesheets -->
    <!-- bootstrap -->
    <link rel="preload" href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css">
    </noscript>

    <!-- font-awesome -->
    <link rel="preload" href="{{ site.baseurl }}/vendor/font-awesome/css/font-awesome.min.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/vendor/font-awesome/css/font-awesome.min.css">
    </noscript>

    <!-- fontawesome -->
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
              integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
              crossorigin="anonymous">
    </noscript>

    <!-- fancybox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />

    <!-- custom -->
    <link rel="preload" href="{{ site.baseurl }}/style.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    </noscript>

    <!-- custom font -->
    <link rel="preload" href="{{ site.baseurl }}/fonts/sansation/stylesheet.css" as="style" type="text/css"
          charset="utf-8"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/fonts/sansation/stylesheet.css" type="text/css" charset="utf-8">
    </noscript>

    <!-- google fonts -->
    <link rel="preload" href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
          as="style" type="text/css" charset="utf-8" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
              type="text/css" charset="utf-8">
    </noscript>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="144x144" href="{{ site.baseurl }}/favicons/android-icon-144x144.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/favicons/android-icon-96x96.png">
    <link rel="icon" type="image/png" sizes="72x72" href="{{ site.baseurl }}/favicons/android-icon-72x72.png">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ site.baseurl }}/favicons/android-icon-48x48.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicons/android-icon-36x36.png">
    <link rel="manifest" href="{{ site.baseurl }}/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicons/ms-icon-310x310.png">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicons/ms-icon-150x150.png">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicons/ms-icon-144x144.png">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicons/ms-icon-70x70.png">
    <meta name="theme-color" content="#ffffff">

    <!-- seo -->
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//use.fontawesome.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel="alternate" type="application/rss+xml" title="RSS feed"
          href="https://www.primordialanalytics.com/blog/atom.xml"/>
    <link rel="alternate" type="application/rss+xml" title="Atom feed"
          href="https://www.primordialanalytics.com/blog/rss.xml"/>

    <!-- cookie compliance -->
    <link rel="stylesheet" type="text/css"
          href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
    window.cookieconsent.initialise({
    "palette": {
    "popup": {
    "background": "#ffffff",
    "text": "#191445"
    },
    "button": {
    "background": "#191445",
    "text": "#ffffff"
    }
    },
    "content": {
    "message": "We use cookies to provide and improve our services. By using our site, you consent to cookies.",
    "dismiss": "Accept",
    "href": "http://primordialanalytics.com/privacypolicy"
    }
    })});
    </script>

</head>