<!-- javascripts -->
<script src="{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/js/jqBootstrapValidation.min.js"></script>
<script src="{{ site.baseurl }}/js/contact_me.min.js"></script>
<script src="{{ site.baseurl }}/js/agency.min.js"></script>
<script src="{{ site.baseurl }}/js/google_analytics.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
