<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Services</h2>
                <h3 class="section-subheading text-muted">We focus on the core elements of great analytics...</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-code fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Projects</h4>
                <p class="text-muted">Our extensive experience with projects at many scales (PoC's, MVP's, enterprise)
                    ensures you get project work that is scoped to your needs. Our incremental
                    <b><a href="/projects">ANALYTICAL PROCESS</a></b> yield on-time, accurate, and complete projects.
                </p>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-project-diagram fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Process</h4>
                <p class="text-muted">Analytical projects often require being change-minded and <b><a href="/process">AGILE</a></b>.
                    Our project
                    work experience has given us expertise in creating new processes, improving existing processes, and
                    sunsetting deprecated processes.</p>
            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-people-carry fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">People</h4>
                <p class="text-muted">Great analytics means having <b><a href="/people">EMPOWERED</a></b> people in the
                    right roles doing the right
                    jobs. Our seasoned technical professionals have expertise in the leadership, organization, and
                    management of high-performing teams.</p>
            </div>
        </div>
    </div>
</section>
