<!-- Team -->
<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Our Unique Team</h2>
                <h3 class="section-subheading text-muted">We've worked in the data science and analytics industry from
                    the start, check us out...</h3>
            </div>
        </div>
        <div class="row">
            {% for person in site.people %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="img/team/{{ person.pic }}" alt="">
                    <h4>{{ person.name }}</h4>
                    <p class="text-muted">{{ person.position }}</p>
                    <ul class="list-inline social-buttons">
                        {% for network in person.social %}
                        <li class="list-inline-item">
                            <a target="_blank" href="{{ network.url }}">
                                <i class="{{ network.icon }}"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <p class="large text-muted">Our project teams are composed of extremely talented, 100%
                    on-shore individuals that we've worked with for years. Their skills and expertise cover our needs in
                    data engineering, DevOps, data science, security, software engineering, cloud engineering, UX/UI
                    development, and more. When we work on a project, we don't compromise on quality, and that includes
                    our people.
                </p>
            </div>
        </div>
    </div>
</section>